<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8'>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>GameZone</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/rules">Rules</a></li>
      <li><a href="/play/<%= settings.hands.sample %>/<%= settings.hands.sample %>">Play</a></li>
    </ul>
  </nav>
 <%= yield %>
</body>
</html>